// dark colors
$dark-header-color: black;
$dark-content-color: gray;
$dark-font-color: blue;
$dark-footer-font-color: rgba(0, 98, 255, 0.519);

// light colors
$light-header-color: lightgray;
$light-content-color: white;
$light-font-color: blue;
$light-footer-font-color: rgba(0, 98, 255, 0.519);
